/* You can add global styles to this file, and also import other style files */

@import "normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  --bs-pagination-focus-box-shadow: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f6f8;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eaeaea;
}

html {
  font-size: 62.5%;
  overflow-y: overlay;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow: hidden;
}

ul {
  padding-left: 0 !important;
  margin: 0 !important;
}

li {
  list-style-type: none;
}

button,
input {
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  line-height: unset !important;
  margin: 0;
}

button {
  background-color: transparent;
}

//Container css canh giữa layout
.container {
  width: 1100px;
  margin: 0 auto 0 auto;
}

//slider
.slick-slider {
  width: 100%;
  margin: auto;
  background: #ffffff;
}
body .slick-prev,
body .slick-next {
  height: 4.5rem;
  width: 4.5rem;
  background: #68686882 !important;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .slick-prev {
  left: 0;
}
body .slick-next {
  right: 0;
}
body .slick-prev:before {
  content: "ᐊ";
  font-size: 30px;
}
body .slick-next:before {
  content: "ᐅ";
  font-size: 30px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
