$nav-width: 4.7rem;
$font-family: sans-serif; // main font
$border: 1px solid #eaecf0; // border line style
$cellMinWidth: 100px;
$cellMaxWidth: 180px;
$primaryColor: #1e2169;
$secondaryColor: #3439b7;
