<div class="sub-table-container">
  <div class="sub-table-header">Create/Edit Table Name</div>

  <form class="sub-table-content">
    <div class="sub-table-name-input">
      <label class="sub-table-label" for="fname"> Name</label>
      <div class="sub-table-input">
        <input placeholder="Placeholder" type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="sub-table-cb">
      <div class="sub-table-cb-input1">
        <div class="sub-table-cb-wrapper">
          <input class="sub-table-input" type="checkbox" id="cb1" name="cb1" />
          <span class="checkmark"></span>
        </div>
        <label class="sub-table-label" for="cb1">Checkbox: Yes</label>
      </div>
      <div class="sub-table-cb-input2">
        <div class="sub-table-cb-wrapper">
          <input class="sub-table-input" type="checkbox" id="cb2" name="cb2" />
          <span class="checkmark"></span>
        </div>
        <label class="sub-table-label" for="cb2">Checkbox: Yes</label>
      </div>
    </div>

    <div class="sub-table-radio">
      <div class="sub-table-radio-input1">
        <div class="sub-table-radio-wrapper">
          <input
            class="sub-table-input"
            type="radio"
            id="radio1"
            name="radio"
          />
          <span class="checkmark"></span>
        </div>
        <label class="sub-table-label" for="radio1">Radio button: Yes</label>
      </div>

      <div class="sub-table-radio-input2">
        <div class="sub-table-radio-wrapper">
          <input
            class="sub-table-input"
            type="radio"
            id="radio2"
            name="radio"
          />
          <span class="checkmark"></span>
        </div>

        <label class="sub-table-label" for="radio2">Radio button: No</label>
      </div>
    </div>

    <div class="sub-table-text-input">
      <label class="sub-table-label" for="textArea">Text area</label>
      <div class="sub-table-input">
        <textarea
          id="textArea"
          name="textArea"
          rows="4"
          placeholder="Enter a text"
        ></textarea>
      </div>
      <p class="sub-table-hint">This is a hint text to help user.</p>
    </div>

    <div class="sub-table-dropDown-input">
      <label class="sub-table-label" for="dropDown">Dropdown:</label>
      <select class="sub-table-input" name="dropDown" id="dropDown">
        <option>option1</option>
        <option>option2</option>
        <option>option3</option>
        <option>option4</option>
      </select>
      <p class="sub-table-hint">This is a hint text to help user.</p>
    </div>

    <div class="sub-table-hint">Select a row or click create new</div>

    <div class="sub-table-submit">
      <div class="sub-table-submit-cancel">Cancel</div>
      <div class="sub-table-submit-submit">Create/Save</div>
    </div>
  </form>
</div>
