.header-banner {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.layout-wrapper {
  position: relative;

  .app-body {
    display: flex;

    .side-banner {
      position: sticky;
      top: 60px;
      display: flex;
      width: 152px;

      img {
        width: 100%;
      }
    }

    .left-side {
      justify-content: right;
    }

    .right-side {
      right: 0;
    }
  }
}