<div class="swiper-slide" (click)="navigateDetail()">
  <div class="wrapper">
    <div class="avatar-product">
      <img
        [src]="'data:image/jpeg;base64,' + data.Base64Image"
        [alt]="data.Image"
      />
    </div>
    <div [class]="inforProduct">
      <div class="title-product">
        <span>{{ data?.Name }}</span>
      </div>
      <div class="rating d-flex justify-content-start">
        <star-rating [hoverEnabled]="true" speed="slow" [starType]="'svg'" [rating]="5"
        (starClickChange)="onRatingProduct($event)">
        </star-rating>
      </div>
      <div class="price-product">
        <span class="sale-price">{{ salePrice | number : "1.0-0" }} đ</span>
        <span *ngIf="data.Sale" class="base-price"
          >{{ data.Price | number : "1.0-0" }} đ</span
        >
      </div>
      <div class="buy-now">
        <buy-now></buy-now>
      </div>
    </div>
    <div *ngIf="data.Sale" class="percentage-sale">
      <span>{{ saleConvert }}</span>
    </div>
  </div>
</div>
