<div class="swiper-slide">
  <div class="wrapper">
    <div class="avatar-product">
      <img [src]="data.ImageSrc" [alt]="data.Image" />
    </div>
    <div [class]="inforProduct">
      <div class="title-product">
        <span>{{ data?.Name }}</span>
      </div>
      <div class="rating">
        <ngb-rating
          [(rate)]="selected"
          (hover)="hovered = $event"
          (leave)="hovered = 0"
          [readonly]="readonly"
          [max]="'5'"
          [ariaSetSize]="'30px'"
        ></ngb-rating>
      </div>
      <div class="price-product">
        <span class="sale-price">{{ salePrice | number : "1.0-0" }} đ</span>
        <span *ngIf="data.Sale" class="base-price"
          >{{ data.Price | number : "1.0-0" }} đ</span
        >
      </div>
      <div class="buy-now">
        <buy-now></buy-now>
      </div>
    </div>
    <div *ngIf="data.Sale" class="percentage-sale">
      <span>{{ saleConvert }}</span>
    </div>
  </div>
</div>
