<!-- <div *ngFor="let item of data">
  <box-product [data]="item"></box-product>
</div> -->
<app-breadcrumb [plusBreadCrumbText]="[categoryName]"></app-breadcrumb>
<div class="wrapper">
  <div class="wrapper-filter">
    <div><span>Filter</span></div>
    <div class="box-filter" *ngFor="let item of dataDropdownItems">
      <dropdown-filter
        [itemsDropList]="item"
        (filterURL)="handleURL($event)"
        (queryFilter)="handleLableFilter($event)"
      >
      </dropdown-filter>
      <!-- <dropdown-filter filterbyPrice="true"> </dropdown-filter> -->
      <!-- <dropdown-filter> </dropdown-filter> -->
    </div>
  </div>
  <div class="wrapper-product-list">
    <div class="title-sort">
      <div>title --- sort</div>
    </div>
    <div class="box-products">
      <div
        *ngIf="arrLableFilter && arrLableFilter.length > 0"
        class="box-lable-filter"
      >
        <span>Lọc theo:</span>
        <div *ngFor="let item of arrLableFilter">
          <ng-container
            *ngTemplateOutlet="itemBoxLableFilter; context: { $implicit: item }"
          ></ng-container>
        </div>
      </div>
      <div class="product-list">
        <div
          *ngFor="
            let data of productList
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: totalItems
                  }
          "
        >
          <box-product [data]="data"></box-product>
        </div>
      </div>
    </div>

    <div class="wrapper-pagination">
      <pagination-controls
        (pageChange)="handlePageChange($event)"
        previousLabel="Trước"
        nextLabel="Sau"
      ></pagination-controls>
    </div>
  </div>
</div>

<ng-template #itemBoxLableFilter let-item>
  <div class="item-lable-filter">
    <span>{{ item }}</span
    ><img
      src="../../../../assets/icon/close.png"
      alt="close-icon"
      (click)="handleCloseFilter(item)"
    />
  </div>
</ng-template>
