<div  class="register-container">
  <form class="register-form" (ngSubmit)="onSubmit($event)" [formGroup]="isRegister ? registerForm : loginForm">
    <div (click)="toggleShowRegister()" class="register-exit">
      <img src="assets/icon/xmark-solid.svg" />
    </div>
    <div class="register-title">{{isRegister ? 'Đăng kí' : 'Đăng nhập'}}</div>
    <div class="register-option">
      <div class="register-question">
        Chưa có tài khoản?
      </div>
      <input
        (change)="toggleRegister()"
        class="register-checkbox"
        type="checkbox"
      />
    </div>
    <div class="register-input">
      <label class="register-label" for="userName"> Tên đăng nhập </label>
      <input
        required
        class="register-text"
        type="text"
        #userName
        formControlName="UserName"
      />
      <!-- <div *ngIf="submitted && _loginForm['UserName'].errors" class="invalid-feedback">
        <div *ngIf="_loginForm['UserName'].errors['required']">Vui lòng nhập tên tài khoản</div>
      </div>
      <div *ngIf="submitted && _registerForm['UserName'].errors" class="invalid-feedback">
        <div *ngIf="_registerForm['UserName'].errors['required']">Vui lòng nhập tên tài khoản</div>
      </div> -->
    </div>
    <div class="register-input">
      <label class="register-label" [for]="password"> Mật khẩu </label>
      <input
        formControlName="Password"
        required
        class="register-text"
        type="password"
        #password
      />
      <!-- <div *ngIf="submitted && _loginForm['Password'].errors" class="invalid-feedback">
        <div *ngIf="_loginForm['Password'].errors['required']">Vui lòng nhập mật khẩu</div>
      </div>
      <div *ngIf="submitted && _registerForm['Password'].errors" class="invalid-feedback">
        <div *ngIf="_registerForm['Password'].errors['required']">Vui lòng nhập mật khẩu</div>
      </div> -->
    </div>
    <ng-container *ngIf="isRegister">
      <div class="register-input">
        <label class="register-label" [for]="confirmPassword"> Nhập lại mật khẩu </label>
        <input
          formControlName="ConfirmPassword"
          required
          class="register-text"
          type="password"
          #confirmPassword
        />
        <div *ngIf="!registerForm['errors']?.['notmatched'] && (registerForm.touched || registerForm.dirty)">Mật khẩu không trùng khớp</div>
      </div>
      <div class="register-input">
        <label class="register-label" for="email"> Email </label>
        <input
          formControlName="Email"
          required
          class="register-text"
          type="email"
          #email
        />
        <!-- <div *ngIf="submitted && _registerForm['Email'].errors" class="invalid-feedback">
          <div *ngIf="_registerForm['Email'].errors['required']">Vui lòng nhập mật khẩu</div>
        </div> -->
      </div>
    </ng-container>
    <div class="submit-btn"><button kendoButton (click)="onSubmit($event)">{{isRegister ? 'Đăng kí' : 'Đăng nhập'}}</button></div>
  </form>
</div>
