<div (click)="toggleShowRegister()" class="register-container">
  <form class="register-form" (click)="$event.stopPropagation()">
    <div (click)="toggleShowRegister()" class="register-exit">
      <img src="assets/icon/xmark-solid.svg" />
    </div>
    <div *ngIf="isRegister; else loginTitle" class="register-title">
      Đăng nhập
    </div>
    <ng-template #loginTitle>
      <div class="register-title">Đăng kí</div></ng-template
    >
    <div class="register-option">
      <div *ngIf="isRegister; else login" class="register-question">
        Chưa có tài khoản?
      </div>
      <input
        (change)="toggleRegister()"
        class="register-checkbox"
        type="checkbox"
      />
      <ng-template #login>
        <div class="register-question">Đã có tài khoản?</div></ng-template
      >
    </div>

    <div class="register-input">
      <label class="register-label" for="userName"> Tên đăng nhập </label>
      <input
        required
        class="register-text"
        type="text"
        id="userName"
        name="userName"
      />
    </div>
    <div class="register-input">
      <label class="register-label" for="password"> Mật khẩu </label>
      <input
        required
        class="register-text"
        type="password"
        id="password"
        name="password"
      />
    </div>
    <div [ngClass]="{ hidden: !isRegister }" class="register-input">
      <label class="register-label" for="userName"> Nhập lại mật khẩu </label>
      <input
        required
        class="register-text"
        type="password"
        id="repeat-password"
        name="repeat-password"
      />
    </div>
    <div [ngClass]="{ hidden: !isRegister }" class="register-input">
      <label class="register-label" for="userName"> Email </label>
      <input
        required
        class="register-text"
        type="email"
        id="userName"
        name="userName"
      />
    </div>
    <input class="register-submit" value="Tiếp tục" type="submit" />
  </form>
</div>
