<div class="breadcrumb-wrapper">
    <kendo-breadcrumb [items]="items">
        <ng-template kendoBreadCrumbItemTemplate let-item let-index="index">
            <div class="item" role="button" routerLink="/{{item.title}}">
                <ng-container *ngIf="item?.icon?.length > 0">
                    <img src="../../../../../assets/icon/{{item.icon}}">
                </ng-container>
                <span class="title">{{ item.text }}</span>
            </div>
        </ng-template>
    </kendo-breadcrumb>
</div>