<div class="wrapper">
    <div class="title-box">
        <p class="title">Tạo mật khẩu mới</p>
        <div class="img">
            <img src="assets/img/avt_profile.webp">
        </div>
    </div>
    
    <form [formGroup]="changePassWordForm" class="form-group">
        <kendo-formfield>
            <kendo-label  class="input-wrapper" text="Nhập mật khẩu hiện tại" [for]="password">
                <kendo-textbox formControlName="PassWord" #password [clearButton]="true">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <span class="k-icon k-i-preview" (click)="toggleVisibility('password')"></span>
                      </ng-template>
                </kendo-textbox>
            </kendo-label>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label class="input-wrapper" text="Tạo mật khẩu mới" [for]="repeatPassword">
                <kendo-textbox formControlName="RepeatPassWord" #repeatPassword [clearButton]="true">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <span class="k-icon k-i-preview" (click)="toggleVisibility('password')"></span>
                      </ng-template>
                </kendo-textbox>
            </kendo-label>
            <p class="sub-text">
                Mật khẩu phải nhiều hơn 8 ký tự, ít nhất 1 chữ thường 1 chữ in hoa, 1 chữ số, 1 ký tự đặc biệt
            </p>
        </kendo-formfield>
        <button kendoButton class="update-btn" [themeColor]="'info'">Cập nhật</button>
    </form>
</div>