<div class="header-banner">
  <img src="../../../../../assets/img/header_banner.png" />
</div>
<div class="header-wrapper">
  <div class="header-hotline">
    <div class="container">
      <p class="hotline">Hotline : (086) 830.2123 • Email: cskh@tncstore.vn</p>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <div class="header-items">
        <div class="header-logo">
          <img src="../../../../../assets/img/tnc-logo.svg" />
        </div>
        <form class="search-box">
          <input
            class="search-input"
            type="text"
            placeholder="Nhập sản phẩm cần tìm.."
          />
          <div class="search-button">
            <img src="../../../.././../assets/icon/search-icon.svg" />
          </div>
        </form>
        <div class="header-cart">
          <img src="../../../../../assets/icon/cart-icon.svg" />
          <span class="cart-quantity">0</span>
        </div>
      </div>
    </div>
  </div>
</div>
