<div class="cart-container">
  <p class="cart-title">Bạn đang có 0 sản phẩm trong giỏ hàng</p>
  <div class="cart-content">
    <div class="cart-item-wrapper">
      Bạn đang không có sản phẩm nào <br />
      trong giỏ hàng.
    </div>
    <div class="cart-info-wrapper">
      <div class="cart-info-sub-wrapper">
        <p class="cart-info-title">Thông tin giỏ hàng</p>
        <div class="cart-info-quantity">
          <p class="cart-info-quantity-txt">Số lượng sản phẩm</p>
          <p class="cart-info-quantity-no">1</p>
        </div>
        <div class="cart-info-total">
          <p class="cart-info-total-txt">Tổng chi phí</p>
          <p class="cart-info-total-no">1.234.567 đ</p>
        </div>
        <p class="cart-info-tax">Đã bao gồm VAT (nếu có)</p>
        <div class="checkout-btn-wrapper">
          <p class="checkout-btn-txt">ĐẾN GIỎ HÀNG</p>
        </div>
        <div class="delete-btn-wrapper">
          <p class="delete-btn-txt">XÓA GIỎ HÀNG</p>
        </div>
        <div class="other-btn-wrapper">
          <p class="other-btn-txt">XEM SẢN PHẨM KHÁC</p>
        </div>
      </div>
      <div class="cart-info-features">
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
            fill="#27AE60"
          ></path>
          <path
            d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
            fill="white"
            stroke="white"
          ></path>
        </svg>
        <p>Hỗ trợ trả góp 0%, trả trước 0đ</p>
      </div>
      <div class="cart-info-features">
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
            fill="#27AE60"
          ></path>
          <path
            d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
            fill="white"
            stroke="white"
          ></path>
        </svg>
        <p>Hoàn tiền 200% khi phát hiện hàng giả</p>
      </div>

      <div class="cart-info-features">
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
            fill="#27AE60"
          ></path>
          <path
            d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
            fill="white"
            stroke="white"
          ></path>
        </svg>
        <p>Giao hàng nhanh 3H nội thành Hà Nội</p>
      </div>
      <div class="cart-info-features">
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
            fill="#27AE60"
          ></path>
          <path
            d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
            fill="white"
            stroke="white"
          ></path>
        </svg>
        <p>Giao hàng từ 5 - 7 ngày toàn quốc</p>
      </div>
      <div class="cart-info-features">
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
            fill="#27AE60"
          ></path>
          <path
            d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
            fill="white"
            stroke="white"
          ></path>
        </svg>
        <p>Đội ngũ kĩ thuật hỗ trợ online 7/7</p>
      </div>
      <div class="cart-info-payments">
        <img
          class="cart-info-payment"
          src="https://www.tncstore.vn/catalog/view/theme/default/image/tien-mat.png"
        />
        <img
          class="cart-info-payment"
          src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-MoMo-Square.png"
        />
      </div>
    </div>
  </div>
</div>
