.cart-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding: 1rem 3.5rem;

  .cart-content {
    margin-top: 2.5rem;
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-between;

    .cart-item-wrapper {
      width: 61%;
      border: 1px #d8d8d8 solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      font-size: 1.35rem;
      font-weight: 600;
      color: #6e6e6e;
    }
    .cart-info-wrapper {
      width: 36%;
      height: fit-content;

      .cart-info-sub-wrapper {
        background-color: #f0f3fc;
        height: fit-content;
        padding: 1rem 2.5rem;
        margin-bottom: 2rem;

        .cart-info-title {
          font-size: 1.65rem;
          padding-bottom: 1rem;
        }

        .cart-info-quantity,
        .cart-info-total {
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          .cart-info-quantity-txt,
          .cart-info-total-txt {
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0.5rem 0;
          }

          .cart-info-quantity-no {
            font-size: 1.5rem;
            font-weight: 600;
            color: #005ec4;
          }

          .cart-info-total-no {
            font-size: 1.9rem;
            font-weight: 600;
            color: #f9495f;
          }
        }

        .cart-info-tax {
          font-size: 1.3rem;
          font-weight: 500;
          color: #6e6e6e;
          text-align: end;
          padding-top: 0.7rem;
        }

        .checkout-btn-wrapper,
        .delete-btn-wrapper,
        .other-btn-wrapper {
          background-color: #005ec4;
          text-align: center;
          padding: 1.2rem 0;
          margin: 1.5rem 0;
          cursor: pointer;

          .checkout-btn-txt,
          .delete-btn-txt,
          .other-btn-txt {
            color: #ffffff;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
        .other-btn-wrapper {
          background-color: #ffffff;
          border: 1px solid #005ec4;

          .other-btn-txt {
            color: #005ec4;
          }
        }

        .delete-btn-wrapper {
          background-color: #ed1b24;
        }
      }
      .cart-info-features {
        font-size: 1.3rem;
        font-weight: 500;
        color: #6e6e6e;
        letter-spacing: 0.3px;
        padding: 0.3rem 0;
        display: flex;
        gap: 1.2rem;
      }

      .cart-info-payments {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        .cart-info-payment {
          width: auto;
          height: 4rem;
        }
      }
    }
  }
}
