<div class="main-table-container">
  <div class="main-table-header">
    <div class="main-table-header-info">
      <p class="main-table-header-name">Quản lí sản phẩm</p>
    </div>
    <div class="main-table-header-btns">
    </div>
  </div>
    <kendo-grid
    [data]="productList | async"
    [skip]="skip"
    [pageSize]="20"
    [pageable]="true"
    (pageChange)="pageChange($event)"
  >
    <kendo-grid-column title="" [width]="80">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <img
        class="product-img"
        [src]="'data:image/jpeg;base64,' + dataItem.Base64Image"
        [alt]="data.Image"
        style="width: 50px; height: 40px;"
        />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Name">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{ dataItem.Name }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Số lượng" [width]="80">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{ dataItem.Stock }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Giá sản phẩm" [width]="180">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{ dataItem.Price | number: '1.0-0' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [width]="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button
          class="cancel-order"
          kendoButton
          [themeColor]="'info'"
          (click)="selectProduct(dataItem)"
        >
          Chi tiết
        </button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <div class="product-form-wrapper" *ngIf="isSelectedProduct">
    <div class="close-btn" (click)="isSelectedProduct = false">X</div>
    <form class="product-form" [formGroup]="productForm">
      <img
      class="product-img"
      [src]="'data:image/jpeg;base64,' + selectedProduct.Base64Image"
      [alt]="data.Image"
      style="width: 50px; height: 40px;"
      />
  
      <div class="input-form">
        <label>Tên sản phẩm</label>
        <input type="text" formControlName="Name">
      </div>
      <div class="input-form">
        <label>Số lượng sản phẩm</label>
        <input type="text" formControlName="Stock">
      </div>
      <div class="input-form">
        <label>Giá sản phẩm</label>
        <input type="text" formControlName="Price">
      </div>
      <div class="input-form">
        <label>Mô tả sản phẩm</label>
        <textarea type="text" formControlName="Description"></textarea>
      </div>
    </form>

    <div class="btn-update" style="text-align: center; margin-top: 10px; padding: 4px 0;">
      <button
      class="cancel-order"
      kendoButton
      [themeColor]="'info'"
      (click)="updateProductHandle()"
    >
      Cập nhật sản phẩm
    </button>
    </div>
  </div>

</div>
