<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <ng-container *ngIf="isImageSlider; else productSlider">
    <div *ngFor="let img of imgs">
      <div ngxSlickItem class="slide">
        <img width="100%" src="{{img}}">
      </div>
    </div>
  </ng-container>
  <ng-template #productSlider>
    <div *ngFor="let item of sliderProducts">
      <div ngxSlickItem class="slide">
        <box-product [data]="item"></box-product>
      </div>
    </div>
  </ng-template>
</ngx-slick-carousel>