<div class="header-container">
  <h1 class="header-title">Welcome back, {{ user.userName }}</h1>
  <div class="header-menu-wrapper">
    <div class="header-menu-item">
      <img class="header-menu-item-setttings" src="assets/icon/settings-01.svg" />
    </div>
    <div class="header-menu-item">
      <img class="header-menu-item-notif" src="assets/icon/bell-01.svg" />
    </div>
    <div class="header-menu-profile">
      <img class="header-menu-profile-img" [src]="user.avatar" />
    </div>
  </div>
</div>
