<div class="header-wrapper">
  <div class="header-hotline">
    <div class="container">
      <p class="hotline">Hotline : (086) 830.2123 • Email: cskh@tncstore.vn</p>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <div class="header-items">
        <div [routerLink]="''" class="header-logo">
          <img src="../../../../../assets/img/tnc-logo.svg" />
        </div>
        <form class="search-box">
          <input
            class="search-input"
            type="text"
            placeholder="Nhập sản phẩm cần tìm.."
          />
          <div class="search-button">
            <img src="../../../.././../assets/icon/search-icon.svg" />
          </div>
        </form>
        <div class="group-user-action">
          <div class="order-management button" [routerLink]="'orderCheckout'">
            <img src="../../../../../assets/icon/icon_shipping.svg" />
            <span class="text"
              >Tra cứu <br />
              đơn hàng</span
            >
          </div>
          <div (click)="toggleCart()" class="header-cart button">
            <img src="../../../../../assets/icon/cart-icon.svg" />
            <span class="cart-quantity">0</span>
          </div>
          <div *ngIf="!isLoggedIn" class="signin button" (click)="toggleRegister()">Đăng nhập</div>
          <!-- <div *ngIf="isLoggedIn" class="signin button" style="display: flex;flex-direction: column;gap: 2px;">
            <span class="k-icon k-i-user"></span>
            {{userName}}
          </div> -->
          <kendo-dropdownbutton *ngIf="isLoggedIn" [data]="userMenu" themeColor="info">
            <div>
              <span class="k-icon k-i-user"></span>
              {{userName}}
            </div>
            <ng-template kendoDropDownButtonItemTemplate let-dataItem>
              <div (click)="onHandleMenu(dataItem.text)">
                <span class="k-icon {{dataItem.icon}}"></span>
                <span>{{ dataItem.text }}</span>
              </div>
            </ng-template>
          </kendo-dropdownbutton>
        </div>
      </div>
    </div>
    <div class="header-navigation-container">
      <div class="container">
        <div class="header-nav-list">
          <div class="header-nav-items-left">
            <div class="header-item-left" *ngFor="let item of headerMenuItems">
              <div
                style="
                  display: flex;
                  align-items: center;
                  gap: 16px;
                  padding: 15px 0;
                "
                [routerLink]="
                  item.path.length > 0 ? 'product/' + item.path : ''
                "
              >
                <img src="../../../../../assets/icon/{{ item.icon }}" />
                <p
                  class="item-title"
                  [ngClass]="{ blink: item.text === 'XẢ KHO GEAR CỰC CHẤT' }"
                >
                  {{ item.text }}
                </p>
                <span
                  [hidden]="!(item.items.length > 0)"
                  class="k-icon k-i-arrow-chevron-down"
                ></span>
              </div>
              <ng-container *ngIf="item.items.length > 0">
                <ul class="sub-menu-list">
                  <li
                    [routerLink]="'product/' + subMenu.path"
                    *ngFor="let subMenu of item.items"
                  >
                    {{ subMenu.text | uppercase }}
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
          <div class="header-navigation-right">
            <img src="../../../../../assets/icon/fb-icon.svg" />
            <img
              src="../../../../../assets/icon/instagram-icon.svg
            "
            />
            <img src="../../../../../assets/icon/yt-icon.svg" />
            <img src="../../../../../assets/icon/png-xanh.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
